In [4]:
a = 20
def sum():
    global b
    b = 30
    sum= a + b
    print(a)
    print(b)

In [5]:
sum()

20
30

In [6]:
print(b)

30

In [ ]:
# Arithmetic Operators in Python
# +
# -
# *
# /
# //
# **
# %

In [7]:
5/2

2.5

In [8]:
5//2

2

In [9]:
14756 % 6

2

In [17]:
10**(-8)

1e-08

In [20]:
# 10 < 20
# 10 > 20
# 10 <= 10
# 10 >= 20
# 10 == 10
10 != "10"

True

In [23]:
#logical operators
# and (*)
# True and True and  True and False 
# or (+)
True or False or False
# not
# not False

True

In [ ]:
#Assignment Operators

# =
a = 20
# +=
a += 10 # a = a + 10
# -=
a -= 5  # a = a - 5
# *=
a *= 2  # a = a * 2
# /=
a /= 5  # a = a / 5
# //=
a //= 3 # a = a // 3
# %=
a %= 4  # a = a % 4
# **=
a **= 2 # a = a ** 2

In [3]:
# Bitwise Operators
# &
a = 3
b = 13
print(a & b)  # AND

1

In [4]:
#bitwise or
print(a | b)  # OR

15

In [6]:
#bitwise not
print(~-3)     # NOT

2

In [7]:
#bitwise xor
print(10 ^ 4)  # XOR

14

In [30]:
#bitwise left shift
print(3 << 2) # LEFT SHIFT

12

In [32]:
print(10 >> 2) # RIGHT SHIFT

2

In [9]:
#special operators
# #is
# x = ["apple", "banana"]
# y = x
# print(x is y) # True
# print( x ==  y)

# in
x = ["apple", "banana"]
print("banana" in x)  # True
print("pineapple" in x)  # False
print("a" in "Apple")

#not in
print("banana" not in x)  # False
print("pineapple" not in x)  # True

True
False
False
False
True

In [11]:
("pt" in "python")

False

In [31]:
a = 30
b = 20

a **= 5 # a= a // 5
print(a)

24300000

In [36]:
list_of_item = [1, 2, True, "Ram", 5.6, 3+4j,"Hari", "Wow"]

"Hari" not in list_of_item

False

In [ ]:
# conditional statements
# if (Simple if)
# if-else
# if-elif-else
# nested if else

In [ ]:
#if statement
Syntax
if condition:
    #code to be executed if condition is true

In [2]:
a = 40
if a > 30:
    print("a is greater than 10")
    print("This is inside if block")
    print("End of if block")
    sum = a + 10
    print("Sum is:", sum)

a is greater than 10
This is inside if block
End of if block
Sum is: 50

if-else

if condition:
    #code to be executed if condition is true
else:
    #code to executed if condition is false

In [4]:
a = 20
if a > 30:
    print("a is greater than 10")
    print("This is inside if block")
    print("End of if block")
    sum = a + 10
    print("Sum is:", sum)
else:
    print("a is not greater than 10")
    print("This is inside else block")
    print("End of else block")
    sum = a - 10
    print("Sum is:", sum)

a is not greater than 10
This is inside else block
End of else block
Sum is: 10

if-elif

If the user have to check for multiple condition and those condition determines what needs to be done. if-elif  is used.
Syntax: 

if condition1:
    #code to be executed if condition1 is true
elif condition2:
    #code to be executed if condition2 is true
elif condition3:
    #code to be executed if condition3 is true
else:
    #code to be executed if all the above condition doesnt matches

In [6]:
marks = 55
if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
elif marks >= 50:
    print("Grade: E")
else:
    print("Grade: Fail")
print("End of program")

Grade: E
End of program

# nested if else
When there is a block of if-else, if, if-elif statement inside any if, if-else, if-elif then it is nested.

Syntax:
if condition1:
    #code to be executed if condition1 is true
elif condition:
    if condition2:
        #code to be executed if condition2 is true
    else:
        #code to be executed  if condition2 is false
else:
    #code to be executed if condition is false

In [8]:
marks = -55
if marks < 0 or marks > 100:
    print("Invalid marks entered")
else:
    if marks >= 90:
        print("Grade: A")
    elif marks >= 80:
        print("Grade: B")
    elif marks >= 70:
        print("Grade: C")
    elif marks >= 60:
        print("Grade: D")
    elif marks >= 50:
        print("Grade: E")
    else:
        print("Grade: Fail")
print("End of program")

Invalid marks entered
End of program

In [13]:
marks_of_individal_student = int(input("Enter marks between 0 to 100: "))

if marks_of_individal_student < 0 or marks_of_individal_student > 100:
    print("Invalid marks entered")
else:
    if marks_of_individal_student >= 80:
        print("Grade: A")
    elif marks_of_individal_student >= 60:
        print("Grade: B")
    elif marks_of_individal_student >= 40:
        print("Grade: C")
    else:
        print("Grade: Fail")
print("End of program")

Grade: B
End of program

In [ ]:
electricity_unit = int(input("Enter electricity unit consumed: "))
if electricity_unit <= 100:
    bill_amount = electricity_unit * 5
elif electricity_unit <= 200:
    bill_amount = (100 * 5) + (electricity_unit - 100) * 7
elif electricity_unit > 200:
    bill_amount = (100 * 5) + (100 * 7) + (electricity_unit - 200) * 10
else:
    print("Invalid electricity unit entered")

if bill_amount > 2000:
    bill_amount = bill_amount - (bill_amount * 0.05)  # 5% discount

print("Total bill amount is:", bill_amount)
print("Thank you for using our service!")

Total bill amount is: 1250
Thank you for using our service!

In [3]:
electricity_unit= int(input("Enter electricity unit consumed: "))
if electricity_unit <= 100:
    bill_amount = electricity_unit * 5
elif electricity_unit <= 200:
    bill_amount = (100 * 5) + (electricity_unit - 100) * 7
elif electricity_unit > 200:
    bill_amount = (100 * 5) + (100 * 7) + (electricity_unit - 200) * 10
else:
    print("Invalid electricity unit entered")

if bill_amount > 2000:
    bill_amount = bill_amount - (bill_amount * 0.05)  # 5% discount

print("Total bill amount is:", bill_amount)

Total bill amount is: 2090.0

Loop:
while, while-else
for

# while syntax:
while (condition):
    #block of code that is executed until the condition is false

In [15]:
a = 20
while a < 30:
    print("Value of a is:", a)
    a += 1  # a = a + 1 #update control
else:
    print("Loop is ended now. Final value of a is:", a)

Value of a is: 20
Value of a is: 21
Value of a is: 22
Value of a is: 23
Value of a is: 24
Value of a is: 25
Value of a is: 26
Value of a is: 27
Value of a is: 28
Value of a is: 29
Loop is ended now. Final value of a is: 30

# syntax for
for <variable> in range(start,stop,stepsize):
    #block of code
for variable in iterable:(exmple: string, list, sets, tuple)
    #block of code

default value of start is 0 and default value of stepsize is 1

In [16]:
for i in range(11, 20, 1):
    print("Value of i is:", i)

Value of i is: 11
Value of i is: 12
Value of i is: 13
Value of i is: 14
Value of i is: 15
Value of i is: 16
Value of i is: 17
Value of i is: 18
Value of i is: 19

In [17]:
for i in range(5):# this value 5 is stop value, starts from 0 by default
    print("Value of i is:", i)

Value of i is: 0
Value of i is: 1
Value of i is: 2
Value of i is: 3
Value of i is: 4

In [18]:
for i in range(100,120):
    print("Value of i is:", i)

Value of i is: 100
Value of i is: 101
Value of i is: 102
Value of i is: 103
Value of i is: 104
Value of i is: 105
Value of i is: 106
Value of i is: 107
Value of i is: 108
Value of i is: 109
Value of i is: 110
Value of i is: 111
Value of i is: 112
Value of i is: 113
Value of i is: 114
Value of i is: 115
Value of i is: 116
Value of i is: 117
Value of i is: 118
Value of i is: 119

In [19]:
for i in "Apple":
    print("Value of i is:", i)

Value of i is: A
Value of i is: p
Value of i is: p
Value of i is: l
Value of i is: e

In [20]:
list_of_item = [1, 2, True, "Ram", 5.6, 3+4j,"Hari", "Wow"]
for i in list_of_item:
    print("Value of i is:", i)

Value of i is: 1
Value of i is: 2
Value of i is: True
Value of i is: Ram
Value of i is: 5.6
Value of i is: (3+4j)
Value of i is: Hari
Value of i is: Wow

In [21]:
for i in range(5):
    print("Value of i is:", i)


for i in [0,1,2,3,4]:
    print("Value of i is:", i)

Value of i is: 0
Value of i is: 1
Value of i is: 2
Value of i is: 3
Value of i is: 4
Value of i is: 0
Value of i is: 1
Value of i is: 2
Value of i is: 3
Value of i is: 4

In [22]:
for i in range(5,0,-1):
    print("Value of i is:", i)

Value of i is: 5
Value of i is: 4
Value of i is: 3
Value of i is: 2
Value of i is: 1

In [24]:
for i in range(1, 10, -1):
    print("Value of i is:", i)

In [25]:
# sentinal loop : loop which runs until user stop it internally
num = 0
while num >=0:
    num = int(input("Enter a number (negative to stop): "))
    print("You entered:", num)

You entered: 13
You entered: 14
You entered: 21
You entered: 36
You entered: 37
You entered: 99
You entered: -10

In [27]:
if a < 20:
    pass
print("Outsie the conditional block")
print("End of program")

Outsie the conditional block
End of program

In [29]:
for val in "string":
    if val == "i":
        break
    print(val)
print("The end")

s
t
r
The end

In [ ]:
n = int(input("Enter number of subjects: "))

total = 0
fail_flag = False
distinction_count = 0

# Loop for marks input with validation
for i in range(1, n + 1):
    while True:
        marks = int(input(f"Enter marks for subject {i}: "))
        if 0 <= marks <= 100:
            break
        else:
            print("Invalid marks! Enter again (0–100).")

    total += marks

    if marks < 30:
        fail_flag = True

    if marks >= 80:
        distinction_count += 1

attendance = float(input("Enter attendance percentage: "))
category = input("Enter student category (regular/working): ").lower()

# Immediate failure condition
if attendance < 60 or fail_flag:
    result = "Fail"
    grade = "Fail"
    average = total / n

else:
    average = total / n

    # Grace marks rule
    if category == "regular" and 38 <= average < 40:
        average += 2

    # Grade calculation
    if average >= 85:
        grade = "A"
    elif average >= 70:
        grade = "B"
    elif average >= 55:
        grade = "C"
    elif average >= 40:
        grade = "D"
    else:
        grade = "Fail"

    # result = "Pass" if grade != "Fail" else "Fail"
    if grade != "Fail":
        result = "Pass"
    else:
        result = "Fail"

# Bonus distinction
if distinction_count >= 3 and result == "Pass":
    result += " with Distinction"

# Final Output
print("\n----- Final Result -----")
print("Total Marks:", total)
print("Average Marks:", round(average, 2))
print("Grade:", grade)
print("Result:", result)

Invalid marks! Enter again (0–100).

----- Final Result -----
Total Marks: 178
Average Marks: 59.33
Grade: C
Result: Pass

In [ ]:
list_of_item = ["a", 1, "b", 2, "c", 3, "d", 4, "e", 5]
for i, j in enumerate(list_of_item):
    print(f"i: {i}, j: {j}")

"a" in "apple"

In [ ]:
"a" in "apple"

: